:root {
  --font-base: "Avenir", "Avenir Next", "Helvetica Neue", Arial, sans-serif;
  --color-bg: 16, 16, 16;
  --color-text: 270, 270, 270;
  --color-surface: 50, 50, 50;
  --color-accent: 255, 198, 0;
  --chart-line-1: 239, 68, 68;
  --chart-line-2: 79, 195, 247;
  --chart-line-3: 119, 119, 119;

  font-family: var(--font-base);
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(var(--color-text), 0.87);
  background-color: rgb(var(--color-bg));

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: rgb(var(--color-accent));
  text-decoration: inherit;
}
a:hover {
  color: rgba(var(--color-accent), 0.8);
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: rgb(var(--color-surface));
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: rgb(var(--color-accent));
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: rgb(var(--color-text));
    background-color: rgb(var(--color-bg));
  }
}
